@import '/bulma.min.css';
@import '/bulma-divider.min.css';

img {
    object-fit: cover;
}

.subtleLink {
    color: #4d4d4d;
    font-weight: 600;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(8, 8, 8, 0.0);
    color: white;
    padding: 15px;
    padding-top: 30px;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
