
@import '/bulma.min.css';
@import '/bulma-divider.min.css';
@import '/fancybox.css';

img {
    object-fit: cover;
}

.subtleLink {
    color: #4d4d4d;
    font-weight: 600;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(8, 8, 8, 0.0);
    color: white;
    padding: 15px;
    padding-top: 30px;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}


/* Removes the scrollbar when opening the Fancybox */
.with-fancybox {
    overflow: hidden;
}

.block-custom-album {
    margin-bottom: 1.0rem;
}

/* Inserts the logo as a background image */
.navbar-ue-logo {
  background: url(/img/logo/ue_long_small.png) no-repeat center center;
  background-size: cover;
  width: 252px;
  margin-right: 20px; 
}

/*
nav.navbar {
    height: 8rem !important;
    min-height: unset;
    background-color: aqua;
}*/

