@import '/bulma.min.css';
@import '/bulma-divider.min.css';

img {
    object-fit: cover;
}

.subtleLink {
    color: #4d4d4d;
    font-weight: 600;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(8, 8, 8, 0.0);
    color: white;
    padding: 10px;
    border-radius: 5px;
}